* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-container {
  display: flex;
  margin: 50px;
  gap: 30px;
}
.card1 {
  border: 2px solid rgba(236, 228, 228, 0.924);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
}
img {
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 230px;
}
.qualification {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin: 15px 0;
}
.btn {
  background-color: #f4fcf3;
  color: #23be0a;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
h3 {
  font-size: 25px;
  margin-bottom: 5px;
}
p {
  margin-left: 5px;
}

.fiction {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding: 0 20px;
}

.font {
  margin: 20px 40px;
}
.arial {
  font-family: "Arial", sans-serif;
  color: #23be0a;
}
.verdana {
  font-family: "Verdana", sans-serif;
  color: rgb(90, 152, 152);
}
.tahoma {
  font-family: "Tahoma", sans-serif;
  color: blueviolet;
}
.trebuchet {
  font-family: "Trebuchet MS", sans-serif;
  color: rgb(184, 86, 143);
}
.times {
  font-family: "Times New Roman", Times, serif;
  color: rgb(62, 135, 73);
}
.georgia {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(105, 79, 131);
}
.garamond {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(226, 165, 43);
}
.monospace {
  font-family: monospace;
  color: rgb(226, 43, 144);
}
.cursive {
  font-family: cursive;
  color: rgba(137, 43, 226, 0.638);
}
